/*Default settings*/ 
:root{
    --clr-addBTN: rgb(0, 177, 0);
    --clr-background2: #a80000;
    --clr-neon: #f74242;
    --clr-background: #f74242;
    --clr-border: black;
}

/*Text settings*/
#rent{
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

p{
    font-size: 20px;
    color: black;
    font-style: italic;
}

h3{
    font-size: 35px;
    color: black;
    font-weight: italic;
}

/*Background settings*/
body{
    width: 100%;
    height: 100%;
 
    background-image: url("../images/homePageBgImage.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover , auto;
}

/*Positioning*/
.drivers{
    padding-bottom: 5%;
    margin-right: 2%;
}

/*Container settings*/
.container{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
} 

/*List settnigs*/
#listBox{
    padding: 0%;
    margin-top: 3%;
    width: 75%;
    height: 30%;
    border: 2px solid var(--clr-border);
}

li{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--clr-border);
    border-top: 1px solid var(--clr-border);
}

p{
    object-position: fixed;
    padding-top: 3%;
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

/*Delete button settings*/
#deleteRent{
    margin-left: 80%;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    border-radius: 10%;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
}

#deleteRent:hover {
    background-color: var(--clr-background);
    color: var(--clr-menuText);
}

#deleteRent:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}

#deleteRent:hover::after{
    opacity: 1;
}

/*Add button settings*/
#add{
    display: flex;
    justify-content: center;

    margin-left: 68%;
    margin-bottom: 3%;

    text-decoration: none;
    color: var(--clr-addBTN);
    border: var(--clr-addBTN) 4px solid;
    border-radius: 10%;
    
    box-shadow: inset 0 0 3px var(--clr-addBTN),
                      0 0 0.5em var(--clr-addBTN);

    position: relative;

    transition: background-color 100ms linear;
}

#add:hover {
    background-color: var(--clr-addBTN);
    color: var(--clr-menuText);
}

#add:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-addBTN);
    opacity: 0;
    background-color: var(--clr-addBTN);
    z-index: -1;
    transition: opacity 100ms linear;
}

#add:hover::after{
    opacity: 1;
}
