/*Default settings*/ 
:root{
    --clr-menuBG: #a80000;
    --clr-menuText: #ffffff;
    --clr-menuBGhover: #ffffff;
    --clr-background2: #a80000;
}

/*Menu Bar settings*/
 ul {
   position: fixed;
   width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--clr-menuBG);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:var(--clr-menuText);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:var(--clr-menuBGhover);
  }

  /*Footer settings*/
  footer{
    text-align: center;
    padding-top: 20%;
  }

  /*Setion settings*/
  section{
    padding-top: 18%;
    text-align: center;
  }

  /*texts settings*/ 
  p{
    padding-top: 4%;
  }

  /*Miggle button settings */
  #homePageMidBtn{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
  }

  #homePageMidBtn:hover {
    background-color: var(--clr-background);
    color: rgb(255, 255, 255);
  }

  #homePageMidBtn:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
  }

  #homePageMidBtn:hover::after{
    opacity: 1;
  }

  