/*Default color settings*/
:root{
    --prof_clr-bg: rgb(255, 0, 0);
    --prof_clr-btn: rgb(61, 189, 248);
}

/*Body & Background settings*/
body{
    height: 100%;
    width: 100%;

    background-image: url("../images/homePageBgImage.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Positioning*/
#nameRow{
    padding-top: 7%;
}

/*Text settings*/


/*Image settings*/
img{
    border-radius: 50%;
    
    padding-top: 3%;
}

/*Row settings*/
 .leftInput{
     float: left;
 }

/*Container settings*/
 .container{
     display: flex;
     justify-content: center;
 }

