/*Making page unCrollable*/
html {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    width: 0px;
}

/*Default settings*/ 
:root{
    --clr-neon: #f74242;
    --clr-background: #f74242;
    --clr-neon2: #61C9A8;
    --clr-background2: #61C9A8;
}

/*For position fixes*/
#home-p{
    margin-bottom: 25%;
}
#login-p{
    margin-bottom: 14%;
}
#registration-p{
    margin-bottom: 2%;
}

/*Body settings*/
body{   
    text-align: center;
    margin: 0%;
    padding: auto;
    width: 100%;
    height: 100%;


    background-attachment: fixed;
    background-image: url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*SZÖVEG FORMÁZÁS BEFEJEZÉSE*/
p{
    font-size: 20px;
    color: white;
    font-style: italic;
}
h3{
    font-size: 35px;
    color: white;
    font-weight: italic;
}


/*Section setup*/
#starting{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
#login{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 40%;
    padding-top: 5%;
}
#registration{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 40%;
    margin-bottom: 14%;
    padding-top: 5%;
}

/*links design*/
#login-btn {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    margin-top: 20%;
    margin-right: 30%;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
}
#login-btn:hover {
    background-color: var(--clr-background);
    color: rgb(255, 255, 255);
}


#login-btn::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}
#login-btn:hover::after{
    opacity: 1;
}

/*Registration btn settings*/
#registration-btn {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    margin-top: 20%;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
}
#registration-btn:hover {
    background-color: var(--clr-background);
    color: rgb(255, 255, 255);
}


#registration-btn::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}
#registration-btn:hover::after{
    opacity: 1;
}

/*Home btn settings*/
#home-btn {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    margin-top: 20%;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
}
#home-btn:hover {
    background-color: var(--clr-background);
    color: rgb(255, 255, 255);
}


#home-btn::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}
#home-btn:hover::after{
    opacity: 1;
}

/*Submit btn settings*/
#submit-btn-for-login{
    margin-bottom: 3%;
}