.addWelcomeMessage{
    display: inline;
    text-align: center;
}

.addCarInput{
    display: flex;
    justify-content: space-evenly;
}

#RentButton{
    margin-top: 7%;
    margin-left: 47.5%;
}

#RentButton{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
}

#RentButton:hover {
    background-color: var(--clr-background);
    color: var(--clr-menuText);
}

#RentButton:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}

#RentButton:hover::after{
    opacity: 1;
}


input{
    width: fit-content;
    font-size: 17px;
}