/*Default settings*/

:root {
    --clr-addBTN: rgb(0, 177, 0);
    --clr-background2: #a80000;
    --clr-neon: #f74242;
    --clr-background: #f74242;
    --clr-border: black;
}


/*Text settings*/

#rent {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-top: 5%;
}
p {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
    color: black;
    font-style: italic;
}
#admin-h3 {
    font-size: 35px;
    color: black;
    font-weight: italic;
    margin-top: 2%;
}


/*Background settings*/
body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover, auto;
}

/*Container settings*/
.adminContainerText {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-right: 3%;
}
#adminContainerText-p {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 2px solid var(--clr-border);
    border-top: 2px solid var(--clr-border);
    border-right: 2px solid var(--clr-border);
    border-left: 2px solid var(--clr-border);
    width: 7.2%;
    text-align: center;
    background-color: #bdbdbd;
}

.containerAdmin {
    margin-left: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
#adminContainer-p {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 1px solid var(--clr-border);
    border-top: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border);
    border-left: 1px solid var(--clr-border);
    width: 7.2%;
    text-align: center;
    background-color: #bdbdbd;
}

/*Delete button settings*/
#deleteRent {
    margin-top: 24%;
    float: right;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    border-radius: 10%;
    box-shadow: inset 0 0 3px var(--clr-neon), 0 0 0.5em var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear;
}
#deleteRent:hover {
    background-color: var(--clr-background);
    color: var(--clr-menuText);
}
#deleteRent:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}
#deleteRent:hover::after {
    opacity: 1;
}

/*Add button settings*/
#add {
    display: flex;
    justify-content: center;
    margin-left: 68%;
    margin-bottom: 3%;
    text-decoration: none;
    font-size: 20px;
    color: var(--clr-addBTN);
    border: var(--clr-addBTN) 4px solid;
    border-radius: 10%;
    box-shadow: inset 0 0 3px var(--clr-addBTN), 0 0 0.5em var(--clr-addBTN);
    position: relative;
    transition: background-color 100ms linear;
}

#add:hover {
    background-color: var(--clr-addBTN);
    color: var(--clr-menuText);
}
#add:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-addBTN);
    opacity: 0;
    background-color: var(--clr-addBTN);
    z-index: -1;
    transition: opacity 100ms linear;
}
#add:hover::after {
    opacity: 1;
}

#driverLogoutBTN{
    margin-top: 1%;
}