/*Default settings*/ 
:root{
  --clr-menuBGHome: #a80000;
  --clr-menuTextHome: #ffffff;
  --clr-menuBGhoverHome: #ffffff;
  --clr-background2Home: #a80000;
  --clr-neonHome: #f74242;
  --clr-backgroundHome: #f74242;
}

/*Background settings*/
body{
  width: 100%;
  height: 100%;

  background-image: url("../../images/homePageBgImage.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover , auto;
}

/*Footer settings*/
footer{
  text-align: center;
  padding-top: 12%;
}

/*Section settings*/
section{
  text-align: center;
  margin-top: 14%;
}

/*Texts settings*/ 
#home-p{
  padding-top: 4%;
}

/*Miggle button settings */
#homePageMidBtnHome{
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neonHome);
  border: var(--clr-neonHome) 4px solid;
  padding: 4px 17px;
  border-radius: 6px;
  
  box-shadow: inset 0 0 3px var(--clr-neonHome),
                    0 0 0.5em var(--clr-neonHome);

  position: relative;

  transition: background-color 100ms linear;
}

#homePageMidBtnHome:hover {
  background-color: var(--clr-backgroundHome);
  color: var(--clr-menuTextHome);
}

#homePageMidBtnHome:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em 
  var(--clr-neonHome);
  opacity: 0;
  background-color: var(--clr-background)Home;
  z-index: -1;
  transition: opacity 100ms linear;
}

#homePageMidBtnHome:hover::after{
  opacity: 1;
}
