/*Default settings*/ 
:root{
    --clr-menuText: #ffffff;    
    --clr-neon: #00bb00; 
    --clr-background: #00bb00;
}

/*Body & background settings*/
body{
    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover , auto;
}

/*Texts settings*/
#total{
    display: inline;
    text-align: center;
    margin-top: 45%;
}
p{
    font-size: 20px;
    font-style: italic;
    padding: 0;
}
h3{
    font-size: 35px;
    font-weight: italic;
}
#rent-p{
    color: #f74242;
    font-size: 30px;
}
#date-p{
    margin-bottom: 3%;
}
label{
    font-size: 18px;
    font-style: italic;
}

/*Top tittle settings*/
.container{
  display: inline;
  position: relative;
  text-align: center;
  padding: 0;
  padding: 2px 16px;
}

/*Choose option settings*/
.container_choose{
    display: flex;
    justify-content: space-around;

    padding-top: 6%
}
select{
    width: fit-content;
    height: 130%;
}

/*Date choose settings*/
.dateChoose{
    display: flex;
    position: relative;
    justify-content: space-evenly;    
}
input{
    width: fit-content;
}


/*Cards settings
.container_cards{
    padding-left: auto;
    padding-right: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}
.cardPosition{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.card {
    margin-top: 3%;
    block-size: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: fit-content;
    width: fit-content;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
*/
/*Rent button & rent container settings*/
.container_button{
    display: inline flex;
    text-align: center;
    
    padding-top: 3%;
    padding-bottom: 5%;
}
#finalRentBTN{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
}

#finalRentBTN:hover {
    background-color: var(--clr-background);
    color: var(--clr-menuText);
}

#finalRentBTN:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}

#finalRentBTN:hover::after{
    opacity: 1;
}
