/*Default settings*/ 
:root{
    --clr-menuBG: #a80000;
    --clr-menuText: #ffffff;
    --clr-menuBGhover: #ffffff;
    --clr-background2: #a80000;
    --clr-neon: #f74242;
    --clr-background: #f74242;
}

  /*Background settings*/
  body{
    width: 100%;
    height: 100%;

    background-image: url("../images/homePageBgImage.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover , auto;
  }

  /*Footer settings*/
  footer{
    text-align: center;
    padding-top: 20%;
  }

  /*Section settings*/
  section{
    padding-top: 20%;
    text-align: center;
  }

  /*Texts settings*/ 
  p{
    padding-top: 4%;
  }

  /*Miggle button settings */
  #homePageMidBtn{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-neon),
                      0 0 0.5em var(--clr-neon);

    position: relative;

    transition: background-color 100ms linear;
  }

  #homePageMidBtn:hover {
    background-color: var(--clr-background);
    color: var(--clr-menuText);
  }

  #homePageMidBtn:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
  }

  #homePageMidBtn:hover::after{
    opacity: 1;
  }

  