/*Default color settings*/
:root{
    --clr-BTNcolor: #42cdf7;
    --clr-calendarDefault: #929292;
    --clr-workDays: rgb(2, 214, 2);
    --clr-holydays: rgb(255, 0, 0);
}

/*Background & body settings*/
body{
    height: 100%;
    width: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover, auto;
}

/*map settings*/
.jobsContainerText{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 0;
}

.jobsContainer{
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
}

#jobsContainer-p{
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid var(--clr-border);
    border-top: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border);
}


/*Container settings*/
.containerDriver{
    margin-top: 0;
    padding-top: 0;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Animated button settings*/
.buttons{
    margin-bottom: 3%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    position: relative;
}

.saveBTN {
    border-radius: 4px;
    background-color: var(--clr-BTNcolor);
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.saveBTN span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.saveBTN span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.saveBTN:hover span {
    padding-right: 25px;
}
  
.saveBTN:hover span:after {
    opacity: 1;
    right: 0;
}

/*Select button settings */
.selectBTN{
    align-items: flex-start;
    border-radius: 4px;
    background-color: rgb(151, 151, 151);
    border: none;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: auto;
    margin: 5px;
    margin-right: 15%;
}

.selectBTN:hover{
    background-color: var(--clr-workDays);
}

