/*Default color settings*/
:root{
    --clr-BTNcolor: #42cdf7;
    --clr-calendarDefault: #929292;
    --clr-workDays: rgb(2, 214, 2);
    --clr-holydays: rgb(255, 0, 0);
}

/*Background & body settings*/
body{
    height: 100%;
    width: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover, auto;
}

/*Text settings*/
#driver-h3{
    font-size: 25px;
    color: black;
    font-weight: italic;
    margin-top: 2%;
}
#driver-h4{
    font-size: 15px;
    color: black;
    font-weight: italic;
    margin-top: 1%;
}
#driver-p{
    margin-top: 5%;
    margin-bottom: 6%;
}
#driver-username{
    margin-left: 2%;
}

/*map settings*/
.jobsContainerText{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.jobsContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
}

#jobsContainer-p{
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid var(--clr-border);
    border-top: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border);
    border-left: 1px solid var(--clr-border);
    width: 12%;
    height: fit-content;
    text-align: center;
}
#jobsContainerText-p{
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 2px solid var(--clr-border);
    border-top: 2px solid var(--clr-border);
    border-right: 2px solid var(--clr-border);
    border-left: 2px solid var(--clr-border);
    width: 12%;
    height: fit-content;
    text-align: center;
}

/*Container settings*/
.containerDriver{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Animated button settings*/
.buttons{
    margin-bottom: 3%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    position: relative;
}

.saveBTN {
    border-radius: 4px;
    background-color: rgb(43, 255, 0);
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.saveBTN span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.saveBTN span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.saveBTN:hover span {
    padding-right: 25px;
}
  
.saveBTN:hover span:after {
    opacity: 1;
    right: 0;
}

/*Select button settings */
#driverLogoutBTN{
    align-items: flex-start;
    border-radius: 4px;
    background-color: rgb(151, 151, 151);
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    width: auto;
    margin-left: 2px;
    margin-right: 1%;
    float: right;
}

#driverLogoutBTN:hover{
    background-color: red;
}