/*Default color settings*/
:root{
    --clr-ProfileSubmitBTNhover: #f74242;
    --clr-InpBG: lightgray;
}

/*Body & Background settings*/
body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover, auto;
}

/*Text settings*/
#profileRentsTittle{
    text-align: center;
}
 h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: italic;
 }

/*Image settings*/
 #profile-img{
    width: 10%;

    border-radius: 50%;
    
    padding-top: 3%;
}

/*Input & row settings*/
 .containerProfile{
    padding-top: 4%;
    display: flex;
    justify-content: space-evenly; 
 }

 .rightInputProfile{
    margin: 0;
 }

 .leftInputProfile{
     margin: 0;
 }

 input{
    display: flex;
    justify-content: center;
    padding: 0;
    height: fit-content;
    width: fit-content;
    background-color: var(--clr-InpBG);
 }

/*Top container settings*/
 .container-baseProfile{
     display: flex;
     justify-content: center;
 }

 /*Container settings*/
.UserContainerText {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-right: 3%;
}
#UserContainerText-p {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 2px solid var(--clr-border);
    border-top: 2px solid var(--clr-border);
    border-right: 2px solid var(--clr-border);
    border-left: 2px solid var(--clr-border);
    width: 8.9%;
    text-align: center;
    background-color: #bdbdbd;
}

.containerUser {
    padding-left: 3.1%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
#UserContainer-p {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 1px solid var(--clr-border);
    border-top: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border);
    border-left: 1px solid var(--clr-border);
    width: 9%;
    text-align: center;
    background-color: #bdbdbd;
}

 /*Save button settings*/
 #saveBTNProfile{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: unset;
    border: var(--clr-ProfileSubmitBTNhover) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-ProfileSubmitBTNhover),
                      0 0 0.5em var(--clr-ProfileSubmitBTNhover);

    position: relative;

    transition: background-color 100ms linear;
}
#saveBTNProfile:hover {
    background-color: var(--clr-ProfileSubmitBTNhover);
    color: rgb(255, 255, 255);
}
#saveBTNProfile::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-ProfileSubmitBTNhover);
    opacity: 0;
    background-color: var(--clr-ProfileSubmitBTNhover);
    z-index: -1;
    transition: opacity 100ms linear;
}
#saveBTNProfile:hover::after{
    opacity: 1;
}
 
 .BTNProfile{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.profileRentTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 1.2%;
    width: 97%;
}

/*Delete button settings*/
#deleteRents {
    margin-top: 24%;
    float: right;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    border-radius: 10%;
    box-shadow: inset 0 0 3px var(--clr-neon), 0 0 0.5em var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear;
}
#deleteRents:hover {
    background-color: var(--clr-background);
    color: var(--clr-menuText);
}
#deleteRents:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-background);
    z-index: -1;
    transition: opacity 100ms linear;
}
#deleteRents:hover::after {
    opacity: 1;
}