/*Default color settings*/
:root{
    --clr-submitBTNhover: #f74242;
    --clr-InpBG: lightgray;
}

/*Body & Background settings*/
body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover, auto;
}

/*Text settings*/
#profileRentsTittle{
    text-align: center;
}
 h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: italic;
 }

/*Image settings*/
 img{
    width: 10%;

    border-radius: 50%;
    
    padding-top: 3%;
}

/*Input & row settings*/
 .containerProfile{
    padding-top: 4%;
    display: flex;
    justify-content: space-evenly; 
 }

 .rightInputProfile{
    margin: 0;
 }

 .leftInputProfile{
     margin: 0;
 }

 input{
    display: flex;
    justify-content: center;
    padding: 0;
    height: fit-content;
    width: fit-content;
    background-color: var(--clr-InpBG);
 }

/*Top container settings*/
 .container-baseProfile{
     display: flex;
     justify-content: center;
 }

 /*Save button settings*/
 #saveBTNProfile{
    margin-top: 10%;
    margin-bottom: 5%;
    
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: unset;
    border: var(--clr-submitBTNhover) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-submitBTNhover),
                      0 0 0.5em var(--clr-submitBTNhover);

    position: relative;

    transition: background-color 100ms linear;
}
#saveBTNProfile:hover {
    background-color: var(--clr-submitBTNhover);
    color: black;
}
#saveBTNProfile::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-submitBTNhover);
    opacity: 0;
    background-color: var(--clr-submitBTN);
    z-index: -1;
    transition: opacity 100ms linear;
}
#saveBTNProfile:hover::after{
    opacity: 1;
}
 
 .BTNProfile{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.profileRentTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 1.5%;
    width: 97%;
}