 :root{
    --clr-neon: #f74242;
    --clr-background: #f74242;
    --clr-submitBTN: #b80000;
    --clr-submitBTNhover: white;
}
body{
  width: 100%;
  height: 100%;

  background-image: url("../../images/homePageBgImage.jpg");
  background-repeat: no-repeat;
  background-size: cover , auto;
}

/*Form settings*/
.welcome{
    display: inline;
    text-align: center;
    padding-top: 0;
}
.loginContainer{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.Login{
   margin-right: 10%;
}
.Registration{
    margin-left: 10%;
}
input{
    margin-top: 10%;
    align-items: center;
}

/*Texts settings*/
#home-p{
    margin-bottom: 0;
    padding-bottom: 0;
}
#login-p{
    text-align: center;
}
#registration-p{
    text-align: center;
}
#loginErr{
    font-size: 10px;
    color: rgb(189, 0, 0);
    font-style: italic;
    padding: 0;
    margin-top: 3%;
}
h3{
    margin-top: 7%;
    font-size: 25px;
    color: white;
    font-weight: italic;
    padding: 0;
}

/*Submit Login Button Settings*/
#submit-btn-for-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: var(--clr-submitBTNhover) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-submitBTNhover),
                      0 0 0.5em var(--clr-submitBTNhover);

    position: relative;

    transition: background-color 100ms linear;
}
#submit-btn-for-login:hover {
    background-color: var(--clr-submitBTNhover);
    color: black;
}
#submit-btn-for-login::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-submitBTNhover);
    opacity: 0;
    background-color: var(--clr-submitBTN);
    z-index: -1;
    transition: opacity 100ms linear;
}
#submit-btn-for-login:hover::after{
    opacity: 1;
}

/*Submit Registration Button Settings*/
#submit-btn-for-register{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: var(--clr-submitBTNhover) 4px solid;
    padding: 4px 17px;
    border-radius: 6px;
    
    box-shadow: inset 0 0 3px var(--clr-submitBTNhover),
                      0 0 0.5em var(--clr-submitBTNhover);

    position: relative;

    transition: background-color 100ms linear;
}
#submit-btn-for-register:hover {
    background-color: var(--clr-submitBTNhover);
    color: black;
}
#submit-btn-for-register::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em 
    var(--clr-submitBTNhover);
    opacity: 0;
    background-color: var(--clr-submitBTN);
    z-index: -1;
    transition: opacity 100ms linear;
}
#submit-btn-for-register:hover::after{
    opacity: 1;
}