/*Body settings*/
body{
  width: 100%;
  height: 100%;

  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#bottomContainer{
  padding-bottom: 5%;
}

/*Texts settings*/
h4{
  text-align: center;
}

#h3Driver{
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-weight: italic;
}

p{
 text-align: center;
 font-size: 20px;
 color: rgb(0, 0, 0);
 font-style: italic;
}

/*Culomn signs settings*/
.signsDriver{
 padding-bottom: 7%;
}

#culDriver{
  text-align: center;
}

/*Row settings*/
.rowDriver{
padding-top: 3%;
display: flex;
justify-content: center;
align-items: center;
}

/*Cards settings*/

.imgDriver{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.cardDriver {
display: flex;
justify-content: center;
align-items: center;
padding-top: 5%;
block-size: auto;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
height: max-content;
width: 40%;
background-color: rgb(201, 201, 201);
}

.cardDriver:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Separator*/
hr.roundedDriver {
  margin-top: 3%;
  border-top: 8px solid rgb(44, 44, 44);
  border-radius: 5px;
}