<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS, BOOTSTRAP, AOS-->
    <link rel="stylesheet" href="../css/driverPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">

    <title>CarRent</title>
</head>

<body>
    <!--Info texts-->
    <div class="container">
        <h3 data-aos="fade-up" data-aos-delay="300">Check out your working days!</h3>
        <p data-aos="fade-up" data-aos-delay="400"> You can decide when you want to work, but on a day, when you get
            Rented, you can't go on vacation!</p>
        <p data-aos="fade-up" data-aos-delay="500">You work on green colored days, on red colored days you are out of
            work.</p>
        <p data-aos="fade-up" data-aos-delay="600" id="infoP">Below you can choos your holidays.
        </p>
        <p data-aos="fade-up" data-aos-delay="700" id="infoPlittle">In a month ONLY 3 days besides weekends.</p>
    </div>

    <!--Calendar-->
    <div class="row">
        <div class="containerCalendar" data-aos="fade up" data-aos-delay="800">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <!--a hónap, nap  és év automatikusan current date alapján működjön-->
                    <li id="currentDateYear">1</li>
                    <li id="currentDateMonth">1</li>
                    <li id="currentDateDay">1</li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <div class="days"></div>
        </div>
    </div>

    <div class="buttons">
        <!--amely napokon az adott sofőr ki lett bérelve, azok a napok zölddel jelölődjenek
            ahol a sofőr kivett szabadságot (havi 3) ott a napok pirossal legyenek jelölve,
            és ne lehessen arra a napra bérelni a sofőrt-->
        <button class="selectBTN" id="setButton" data-aos="fade-up" data-aos-delay="800">SET HOLIDAY</button>

        <!--Save button-->
        <button class="saveBTN" data-aos="fade-up" data-aos-delay="900"><span>SAVE </span></button>
    </div>



    <!--SCRIPTS-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>