<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--CSS, BOOTSTRAP, AOS-->

    <title>Document</title>
</head>

<body>
<!--Menu bar-->
    <header>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Vehicle Rent</a></li>
            <li><a href="">Us</a></li>
            <li><a href="">Vehicles</a></li> 
            <li><a href="">Drivers</a></li>
            <li><a href="">Rate Us</a></li>
            <li><a href="../view/starterPage.html">Log out</a></li>
        </ul>
    </header>

<!--Welcome message-->
    <h3>Welcome on Car Rent, after hitting the button below you can start searching for your personal car</h3>
    <p>You can text us bellow</p>

<!--
    Information box
    Contact
-->

    <footer>
        <address>
            Write us:<a href="mailto:webmaster@example.com"> info@carrent.com</a>
            4400, Nyíregyháza Valami utca 1.
        </address>
    </footer>
</body>
</html>