<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--BOOTSTRAP, AOS, CSS-->
    <link rel="stylesheet" href="../css/products.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">

    <title>CarRent</title>
</head>

<body>

    <!--Page message-->
    <div class="col-12" data-aos="fade-up" data-aos-delay="300">
        <h3>Here Are our Drivers and Vehicles you can choose from!</h3>
    </div>

    <!--Culomn signs-->
    <div class="signs">
        <p id="culVehicle">Vehicles</p>
        <p id="culDriver">Drivers</p>
    </div>
    
    <!--Cards for the products-->
    <!--vehicle1-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" data-aos="fade-right" data-aos-delay="300" id="car">
                    <img src="../images/img_car.png" alt="car">
                    <div class="container">
                        <!--ezeket adatbázisból kellene feltölteni-->
                        <h4><b>Brand</b></h4>
                        <p>fuel type</p>
                        <p>bérlési ár</p>
                        <p>évjárat</p>
                    </div>
                </div>
            </div>

            <!--driver1-->
            <div class="col-12">
                <div class="card" data-aos="fade-left" data-aos-delay="300" id="people">
                    <img src="../images/img_avatar.png" alt="Avatar">
                    <div class="container">
                        <!--ezeket adatbázisból kellene feltölteni-->
                        <h4><b>name</b></h4>
                        <p>sex</p>
                        <p>license category</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="rounded">

    <!--vehicle2-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" data-aos="fade-right" data-aos-delay="300" id="car">
                    <img src="../images/img_car.png" alt="car">
                    <div class="container">
                        <!--ezeket adatbázisból kellene feltölteni-->
                        <h4><b>Brand</b></h4>
                        <p>fuel type</p>
                        <p>bérlési ár</p>
                        <p>évjárat</p>
                    </div>
                </div>
            </div>

            <!--driver2-->
            <div class="col-12">
                <div class="card" data-aos="fade-left" data-aos-delay="300" id="people">
                    <img src="../images/img_avatar.png" alt="Avatar">
                    <div class="container">
                        <!--ezeket adatbázisból kellene feltölteni-->
                        <h4><b>name</b></h4>
                        <p>sex</p>
                        <p>license category</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="rounded">

    <!--vehicle3-->
    <div class="container" id="bottomContainer">
        <div class="row">
            <div class="col-12">
                <div class="card" data-aos="fade-right" data-aos-delay="300" id="car">
                    <img src="../images/img_car.png" alt="car">
                    <div class="container">
                        <!--ezeket adatbázisból kellene feltölteni-->
                        <h4><b>Brand</b></h4>
                        <p>fuel type</p>
                        <p>bérlési ár</p>
                        <p>évjárat</p>
                    </div>
                </div>
            </div>

            <!--driver3-->
            <div class="col-12">
                <div class="card" data-aos="fade-left" data-aos-delay="300" id="people">
                    <img src="../images/img_avatar.png" alt="Avatar">
                    <div class="container">
                         <!--ezeket adatbázisból kellene feltölteni-->
                         <h4><b>name</b></h4>
                         <p>sex</p>
                         <p>license category</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--SRCIPTS-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>