<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarRent</title>
</head>

<body>

    <!--Page message-->
    <div class="row">
        <div class="col-12">
            <h3>Here Are our Drivers and Vehicles you can choose from!</h3>
        </div>
    </div>

    <!--Line signs-->
    <div class="col-12">
        <p>Vehicles</p>
        <p>Drivers</p>
    </div>

    <!--Cards for the products-->

    <!--vehicle1-->
    <div class="card" data-aos="fade-right" data-aos-delay="300">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Brand</b></h4>
            <p>year</p>
            <p>km in car</p>
        </div>
    </div>

    <!--driver1-->
    <div class="card" data-aos="fade-left" data-aos-delay="300">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Name</b></h4>
            <p>km drived</p>
        </div>
    </div>

    <!--vehicle2-->
    <div class="card" data-aos="fade-right" data-aos-delay="300">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Brand</b></h4>
            <p>year</p>
            <p>km in car</p>
        </div>
    </div>

    <!--driver2-->
    <div class="card" data-aos="fade-left" data-aos-delay="300">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Name</b></h4>
            <p>km drived</p>
        </div>
    </div>

    <!--vehicle3-->
    <div class="card" data-aos="fade-right" data-aos-delay="300">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Brand</b></h4>
            <p>year</p>
            <p>km in car</p>
        </div>
    </div>

    <!--driver3-->
    <div class="card" data-aos="fade-left" data-aos-delay="300">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Name</b></h4>
            <p>km drived</p>
        </div>
    </div>
</body>

</html>