<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS, BOOTSTRAP, AOS-->
    <link rel="stylesheet" href="../css/rateUS.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>CarRent</title>
</head>

<body>
    <!--Page message-->
    <div class="col-12" data-aos="fade-up" data-aos-delay="300">
        <h3>Here you can rate our vehicles and drivers!</h3>
    </div>


    <section>
        <!--Cards for the rate us-->
        <!--vehicle1-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 justify-content-center">
                    <div class="card" data-aos="fade-right" data-aos-delay="300" id="car">
                        <img src="../images/img_car.png" alt="car">
                        <div class="container">
                            <!--ezeket adatbázisból kellene feltölteni-->
                            <h4><b>Brand</b></h4>
                            <p>Értékelje a csillagok segítségével játművünket</p>
                            <!--Értékelés-->
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>

                <!--driver1-->
                <div class="col-sm-6 justify-content-center">
                    <div class="card" data-aos="fade-left" data-aos-delay="300" id="people">
                        <img src="../images/img_avatar.png" alt="Avatar">
                        <div class="container">
                            <!--ezeket adatbázisból kellene feltölteni-->
                            <h4><b>name</b></h4>
                            <!--Értékelés-->
                            <p>Értékelje a csillagok segítségével játművünket</p>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="rounded">
    </section>

    <!--SCRIPTS-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>