<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS, BOOTSTRAP, AOS-->
    <link rel="stylesheet" href="../css/rentPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">

    <title>CarRent</title>
</head>

<body>
    <!--Title for rent-->
    <div class="container">
        <h3  data-aos="fade-up" data-aos-delay="300">Now, choose your vehicle, than choose your rent's start & end time</h3>
        <p  data-aos="fade-up" data-aos-delay="300"> You only able to choose whole days</p>
    </div>

    <!--Form to choose date, car, driver-->
    <!--
        Car default value = id1
        Driver default value = none
    -->
    <div class="container_choose" data-aos="fade-up" data-aos-delay="300">
        <!--Cars-->
        <form action="">
            <select id="cars" name="cars">
                <!--feltöltése DB-ből mindig a kiválasztott autó információi jelenjenek meg a lenti card-ban-->
                <option value="car1" id="car1">BMW</option>
                <option value="car2" id="car2">Nissan</option>
                <option value="car2" id="car3">Honda</option>
            </select>
        </form>

        <!--Drivers-->
        <form action="">
            <select id="cars" name="cars">
                <!--feltöltése DB-ből mindig a kiválasztott sofőr információi jelenjenek meg a lenti card-ban-->
                <option value="noDriver" id="noDriver" selected>Nem kérek sofőrt!</option>
                <option value="driver1" id="driver1">Kiss István</option>
                <option value="driver2" id="driver2">Bakos Zsombor</option>
                <option value="driver2" id="driver3">Szakács Péter</option>
            </select>
        </form>
    </div>

    <!--Start/End date choosing-->
    <p id="date-p" data-aos="fade-up" data-aos-delay="400">Choose your End Date</p>

    <div class="container_date" data-aos="fade-up" data-aos-delay="400">

        <!--Start date-->
        <select id="date" name="date">
            <!--current date alapján jelenjen meg-->
            <option value="currentdate" id="currentDay" selected>mai dátum</option>
        </select>

        <!--End date-->
        <select id="date" name="date">

            <!--A kiválasztott nap alapértelmezettként mindig a maid dátum +1 nap legyen-->
            <option value="currentdate" id="nextDay" selected>holnapi dátum</option>

            <!--Calendar-->
            <option value="calendar">
                <ul class="weekdays">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                </ul>
                <div class="days" id="days"></div>
            </option>
        </select>
    </div>

    <!--Choosed Car & Driver card-->
    <div class="container_cards">

        <!--Car-->
        <div class="card" data-aos="fade-in" data-aos-delay="500" id="car">
            <img src="../images/img_car.png" alt="car">
            <div class="container">
                <h4 id="car"><b>Brand</b></h4>
                <p>price/day</p>
                <p id="startTime">start time</p>
                <p id="endTime">end time</p>
                <p id="total">total</p>
            </div>
        </div>

        <!--Driver-->
        <div class="card" data-aos="fade-in" data-aos-delay="500" id="car">
            <img src="../images/img_avatar.png">
            <div class="container">
                <h4 id="name"><b>Name</b></h4>
                <p id="age">Age</p>
                <p>férfi</p>
            </div>
        </div>
    </div>

    <!--Rent button-->
    <div class="container_button" data-aos="fade-up" data-aos-delay="300">
        <p id="rent-p">Before you rent, check again!</p>
        <button type="submit" id="finalRentBTN">Rent</button>
    </div>

    <!--SCRIPTS-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>